<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Open the console!</h1>
    
      <section class="border mb-4 text-white" style="background-color: #37474f;">
        <div id="map-advanced" class=""></div>
        <hr class="mt-0" />
        <div id="map-advanced-legend" class="d-flex flex-wrap justify-content-center"></div>
        <hr />
        <div class="d-flex flex-wrap justify-content-center">
          <button class="btn btn-light btn-map-advanced m-1" data-mdb-color="green" data-mdb-key="sales">
            1750
          </button>
          <button class="btn btn-outline-light btn-map-advanced m-1" data-mdb-color="pink"
            data-mdb-key="employees">
            1800
          </button>
          <button class="btn btn-outline-light btn-map-advanced m-1" data-mdb-color="blue"
            data-mdb-key="annualProfit">
            1850
          </button>
          <button class="btn btn-outline-light btn-map-advanced m-1" data-mdb-color="purple"
            data-mdb-key="salesIncrease">
            1900
          </button>
        </div>
        <hr />
        <div class="d-flex flex-wrap justify-content-center">
          <button class="btn btn-outline-light m-1 mb-3 map-advanced-display" data-mdb-bullets="true">
            1950
          </button>
          <button class="btn btn-light m-1 mb-3 map-advanced-display" data-mdb-bullets="false">
            2000
          </button>
          <button class="btn btn-light m-1 mb-3 map-advanced-display" data-mdb-bullets="false">
            2020
          </button>
        </div>
      </section>
  <button id = "my_button"></button>
  <div id = "my_div"></div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="static/main.js"></script>
</body>
</html>
