<!DOCTYPE html>
<html lang="en">  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Com  patible" content="ie=edge">
    <title>Document</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>

     <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <!-- The div that holds our map -->
    <!-- <script src="/js/leaflet-0.7.2/leaflet.ajax.min.js"></script> -->
    <div id="map-id"></div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/leaflet_4.js"></script>
    <!-- <script src="static/chart.js"></script> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> -->

    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
  </head>
  <body>
    <canvas id="myChart" width="800" height="400"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  </body>

</html>

